html {
    font-size: 62.5%;
    font-family: NTR;
    background-color: #f5f9ff;
}
body {
    font-size: 16px;
}
.container-header,
.container-text-field,
.container-footer {
    margin: 1rem;
}
.header-titel {
    margin: 1rem 0;
    color: #0c307c;
    font-size: 3.5rem;
}
.header-description {
    margin: 0.5rem 0;
    text-align: center;
}
.text-field-textarea {
    width: 100%;
    height: 17rem;
    padding: 1rem;
    border: none;  
    resize: none;  
    border-radius: 1rem;
    outline: none;
    font-size: 1.5rem;
    box-sizing: border-box;
}
.text-instructions {
    text-align: center; 
    color: #4d5f85;
    font-weight: bold;
}
.text-button {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
button {
    text-align: center;
    border: 0.02rem solid #0c307c;
    border-radius: 0.2rem;
    color: #ffffff;
    background-color: #0c307c;
    padding: 1rem 2.5rem;
    cursor: pointer;
}
button:hover {
    background-color: #4f70b8;
    border-color: #0c307c;
    color: #000000;
    font-weight: bold;
}
.display-encrypted {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 2.5rem 0;
    padding: 1.5rem;
}
.display-titel {
    margin-top: 0;
    font-size: 2.5rem;
}
.display-img {
    width: 10rem;
}
.display-encrypted-menssages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-message {
    margin-bottom: 0;
}
.display-message-aux {
    margin-top: 1rem;
}
.footer {
    text-align: center;
    color: #0c307c;
    font-weight: bold;
}
@media (min-width: 768px) {
    .container-header,
    .container-text-field,
    .container-footer {
        margin: 3rem;
    }
    .header-titel {
        font-size: 4.5rem;
    }
    .header-description {
        font-size: 2.5rem;
    }
    .container-text-field {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
    .display-encrypted {
        margin: 0;
    }
    .display-titel {
        margin-top: 3rem;
        font-size: 2.8rem;
    }
    .display-img {
        width: 12rem;
    }
    .display-encrypted-menssages {
        text-align: center;
        font-size: 2rem;
    }
    .text-field-textarea {
        height: 35rem;
        font-size: 1.8rem;
    }
    .text-instructions {
        font-size: 1.8rem;
    }
    button {
        padding: 1.5rem 3.5rem;
        font-size: 2rem;
    }
    .footer {
        margin-top: 4rem;
        font-size: 2rem;
    }
}
@media (min-width: 1440px) {
    .container-header,
    .container-text-field,
    .container-footer {
        margin: 5rem;
    }
    .header-titel {
        font-size: 5.5rem;
    }
    .header-description {
        font-size: 3rem;
    }
    .container-text-field {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }
    .display-titel {
        margin: 3rem 0 2rem 0;
        font-size: 3.2rem;
    }
    .display-img {
        width: 14rem;
    }
    .text-field-textarea {
        height: 35rem;
        font-size: 2.3rem;
    }
    .text-instructions {
        font-size: 2rem;
    }
    button {
        padding: 2rem 4.5rem;
        font-size: 2rem;
    }
    .footer {
        margin-top: 5rem;
        font-size: 2.5rem;
    }
}
.style-message {
    color: #2650aa;
}
.alert {
    background-color: rgba(255, 0, 0, 0.322);
    color: red;
    border-left: 0.5rem solid red;
    margin: 0 5rem;
    text-align: center;
}
.alert-copy {
    margin: 0.5rem 0 1rem 0;
}